@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

.dicedivider {
  justify-content: center;

}

.image {
  justify-content: center;
}

.background {
  background: hsl(217, 19%, 24%);
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 600px;
  font-family: 'Manrope', sans-serif;
  position: relative;
}

.numberadvice {
  font-size: 15px;
  color: hsl(150, 100%, 66%);
  margin-bottom: 5px;

}

.advice {
  font-size: 28px;
  color: hsl(193, 38%, 86%);
  margin-bottom: 5px;
}